$---main-blue-color: #0052ea
$---white-color: #fff
$---heading-black: #1e2022
$---heading-blue: #0052ea
$---content-font-color: #77838f

$---btn-round-more: 30px
$---btn-round-less: 5px
$---btn-padding: 0.8rem 1rem

$---rounded-element: 5px

$---subtitle-bg-color: rgba(55,125,255,.1)

$---hover-color: #f8fafd
$---border-type: 1px solid #e7eaf3

$---submenu-color-before-hover: rgba(255,255,255,.7)

$---padding-main: 2vh 5vw 2vh 7vw
$---line-height-content: 1.7
    


.containerPadding
    display: grid 
    grid-template-columns: repeat(3, 2fr)
    grid-column-gap: 4vw 
    
    padding: $---padding-main
    margin: 10vh 0
    
    .todoBox
        grid-column: 2/4
        p
            margin: 1rem 0
        h3
            margin-top: 2rem
