$---main-blue-color: #0052ea
$---white-color: #fff
$---btn-round-more: 30px
$---btn-round-less: 5px
$---btn-padding: 0.8rem 1rem
$---rounded-element: 5px
$---border-type: 1px solid #e7eaf3

.main
    display: flex
    flex-direction: column
    justify-content: space-between
    input
        margin: 1vh 0
        padding: 1rem
        border: $---border-type
        border-radius: $---rounded-element
    button
        margin: 1vh 0
        background-color: blue
        color: $---white-color
        background-color: $---main-blue-color
        padding: $---btn-padding
        border-radius: $---btn-round-less
        border: none
    .error
        color: red
